@CHARSET "UTF-8";

body {
	font-family: sans-serif;
	font-size: 10px;
	color: #000;
}

input {
	font-family: inherit;
	font-size: inherit;
}

select {
	font-family: inherit;
	font-size: inherit;
}

div#bodyContainer {
	
}